{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="{% static 'css/editar_perfil.css' %}">
</head>

<body>
   <header>
        <div class="logo">
            <img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/>
        </div>
    </header>

<div class="wrapper" style="height: max-content">
  <div class="form-box Register">
    <h2>Editar Perfil</h2>
       <div id="telefone-erro" class="error-message" style="display:none; width: auto">
          <div class="mensagem"></div>
      </div>
    {% if messages %}
    <div id="login-erro" class="error-message" style="width: auto">
        {% for message in messages %}
                <div class="mensagem" id="msg">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
  <script>
  const mensagem = document.getElementById('msg');
  const divErro = document.getElementById('login-erro');
  if (mensagem && mensagem.textContent.trim() === 'Alteração realizada com sucesso!') {
      mensagem.style.display = 'none';
      divErro.style.display ='none'
      // Oculta a mensagem
  }
</script>
    <form action="{% url 'editar_perfil_usuario' %}" method="POST" id="form">
        {% csrf_token %}
      <div class="input-box">
        <span class="icon"><ion-icon name="email-outline"></ion-icon></span>
        <input id="email" type="text" name="email" value="{{ user.email }}">
        <label>Email</label>
        <div id="email-error" class="error-tooltip"></div>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <input id="nome" type="text" name="username" value="{{ user.first_name }} {{ user.last_name }}">
        <label>Nome Completo</label>
        <div id="nome-error" class="error-tooltip"></div>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
        <input id="cpf" type="text" name="cpf" value="{{ user.cpf }}" readonly>
        <label style="top: -20%">CPF</label>
        <div id="cpf-error" class="error-tooltip"></div>
      </div>

      <div class="ddd-phone-container">
       <div class="input-box-tiny">
           <label for="ddd-select">DDD</label>
           <select id="ddd-select" class="ddd-select" name="ddd">
               {% for ddd in ddd_list %}
                     <option value="{{ ddd }}" {% if ddd == telefone|slice:":2" %}selected{% endif %}>{{ ddd }}</option>
               {% endfor %}
           </select>
       </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
          <input type="text" id="phone" name="telefone" value="{{ telefone|slice:"2:" }}" maxlength="10">
          <label>Telefone</label>
          <div id="phone-error" class="error-tooltip"></div>
        </div>
      </div>
      <button type="submit" class="btn" id="btn-atualizar">Atualizar</button>

      <div class="login-register">
        <p>Deseja cancelar? <a href="{% url 'home' %}">Voltar para Home</a></p>
      </div>
      <div class="login-register">
          <p>Mudar senha? <a href="{% url 'redefinir_senha' %}">Clique aqui</a></p>
      </div>
    </form>
  </div>
</div>
<script>
   const form = document.getElementById('form');
   const phoneInput = document.getElementById('phone');
   const telefoneErroDiv = document.getElementById('telefone-erro');
   const telefoneMensagemDiv = telefoneErroDiv.querySelector('.mensagem');
   const emailInput = document.getElementById('email');
   const emailErrorDiv = document.getElementById('email-error');

   function validatePhone() {
       const phoneValue = phoneInput.value.replace(/\D/g, ''); // Remove não dígitos
       telefoneErroDiv.style.display = 'none';
       if (phoneValue.length !== 9) {
           telefoneMensagemDiv.textContent = 'O número de telefone deve ter exatamente 9 dígitos.';
           telefoneErroDiv.style.display = 'block';
           phoneInput.focus();
           return false;
       }
       return true;
   }

   function validateEmail() {
       const emailValue = emailInput.value.trim();
       emailErrorDiv.style.display = 'none';
       const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,}$/;
       if (!emailPattern.test(emailValue)) {
           telefoneMensagemDiv.textContent = 'Por favor, insira um endereço de email válido.';
           telefoneErroDiv.style.display = 'block';
           emailInput.focus();
           return false;
       }
       return true;
   }

   form.addEventListener('submit', function(event) {
       if (!validatePhone() || !validateEmail()) {
           event.preventDefault(); // Impede o envio do formulário se qualquer validação falhar
       }
   });
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons/.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons/.js"></script>
</body>

</html>
