<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
</head>

<body>
   <header>
        <div class="logo">
            <img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/>
        </div>
    </header>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login Admin</h2>
            <form action="{% url 'login_admin' %}" method="POST" id="form">
            {% csrf_token %}
                <div id="login-erro" class="error-message"></div>

                <!-- Campo Username -->
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <input type="text" id="username" name="username" required>
                    <label>Username</label>
                    <div id="username-erro" class="error-tooltip"></div>
                </div>

                <!-- Campo Token da Unidade -->
                <div class="input-box">
                    <span class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></span>
                    <input type="text" id="token" name="token" required>
                    <label>Token da Unidade</label>
                    <div id="token-erro" class="error-tooltip"></div>
                </div>

                <!-- Campo Senha -->
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" id="password" name="senha" required>
                    <label>Senha</label>
                    <div id="senha-erro" class="error-tooltip"></div>
                </div>

                <!-- Mostrar Senha -->
                <div class="show-password-container">
                    <input type="checkbox" id="show-password">
                    <label for="show-password">Mostrar Senha</label>
                </div>

                <button type="submit" class="btn">Login</button>

                <a href="#" class="link-voltar">Voltar</a>


                <div id="login-erro" class="error-message"></div>

            </form>
        </div>
    </div>
    <script src="{% static 'js/loginAdmin.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
