{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="logoFundo">
        <img src="{% static 'img/Logo_Login.png' %}" alt="Logo">
    </div>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="POST" id="form">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="text" id="email" name="email">
                    <label>Email</label>
                    <div id="email-erro" class="error-tooltip"></div>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <!-- Adicionando o ID ao campo de senha -->
                    <input type="password" id="password" name="senha" >
                    <label>Senha</label>
                    <div id="senha-erro" class="error-tooltip"></div>
                </div>

                <!-- Show Password Container -->
                <div class="show-password-container">
                    <input type="checkbox" id="show-password">
                    <label for="show-password">Mostrar Senha</label>
                </div>

                <button type="submit" class="btn">Login</button>

                 <div id="login-erro" class="error-message"></div>
                <div class="login-register">
                    <p>Não possui uma conta?<a href="{% url 'cadastro' %}"> Registre-se</a></p><br>
                    <p><a href="{% url 'redefinir_senha' %}">Esqueceu a senha?</a></p>
                </div>
        
            </form>
        </div>
    </div>
    <script src={% static 'js/login.js' %}></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>